@model SacramentPlanner.Models.MeetingProgram

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MeetingProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="programDate" class="control-label"></label>
                <input asp-for="programDate" class="form-control" />
                <span asp-validation-for="programDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conduct" class="control-label"></label>
                <input asp-for="Conduct" class="form-control" />
                <span asp-validation-for="Conduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preside" class="control-label"></label>
                <input asp-for="Preside" class="form-control" />
                <span asp-validation-for="Preside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Sacrament" /> @Html.DisplayNameFor(model => model.Sacrament)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
