@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Planner</h2>
        <p>Use this site to plan sacrament meetings, or other meetings with prayers, talks, and/or hymns.</p>
        <p>Start by opening Programs, then creating a new program.</p>
    </div>
    <div class="col-md-4">
        <h2>Review Hymns and Speakers</h2>
        <p>Use the Hymns, Talks and Prayers lists to find overused people or hymns.</p>
        <img src="~/images/sacrament1.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>Contact the administrator if you encounter any issues.</p>
    </div>
</div>
