@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Planner</h2>
    </div>
    <div class="col-md-4">
        <h2>Add Hymns and Talks</h2>
        <p>Use the links above to create a program, then add hymns and talks.</p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>Contact the administrator if you encounter any issues.</p>
    </div>
</div>
